@import 'tailwindcss';

@source '../views';


progress[value]::-webkit-progress-bar {
    border-radius: 10px;
    background-color: var(--color-gray-200);
}


progress[value]::-webkit-progress-value {
    border-radius: 10px 0 0 10px;
    background-color: var(--primary-500);
}



